<%- include('includes/head') %>
<!-- NAV -->
<nav class="nav-bar">
  <div class="nav-container">
    <% if(isLoggedIn) { %>
    <h1><%= userName %></h1>
    <% } else { %>
    <ul>
      <li>
        <a href="/new_account">Sign Up / Log In</a>
      </li>
    </ul>
    <% } %>
    <ul>
      <li><a href="/">Tokens</a></li>
      <li>
        <a href="<%= isLoggedIn ? '/new' : '/sign_in' %>">New Token</a>
      </li>
      <li>
        <a href="<%= isLoggedIn ? '/my_tokens' : '/sign_in' %>">My Token</a>
      </li>
    </ul>
  </div>
</nav>
<!-- Error -->
<section class="main">
  <div class="token-container">
    <div class="token-text">
      <h2>Error</h2>
      <% if(!serverError) { %>
      <p>Cannot Find Page :(</p>
      <% } else{ %>
      <p>Internal Server Error :(</p>
      <% } %>
    </div>
  </div>
</section>
<%- include('includes/tail') %>
