<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tokenize</title>
    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Babylonica&family=Poppins:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <!-- STYLESHEET -->
    <!-- Global -->
    <link rel="stylesheet" href="/styles/styles.css" />
    <!-- Main Page -->
    <link rel="stylesheet" href="/styles/main_page_styles.css" />
  </head>
  <body>
    <!-- NAV -->
    <nav class="nav-bar">
      <div class="nav-container">
        <% if(isLoggedIn) { %>
        <h1><%= userName %></h1>
        <% } else { %>
        <ul>
          <li>
            <a href="/new_account">Sign Up / Log In</a>
          </li>
        </ul>
        <% } %>
        <ul>
          <li><a href="/">Tokens</a></li>
          <li>
            <a href="<%= isLoggedIn ? '/new' : '/sign_in' %>">New Token</a>
          </li>
          <li>
            <a
              href="<%= isLoggedIn ? '/my_tokens' : '/sign_in' %>"
              class="selected"
              >My Token</a
            >
          </li>
        </ul>
      </div>
    </nav>
    <!-- MAIN Section -->
    <section class="main">
      <% if (generatedTokens.length == 0 && acceptedTokens.length == 0) { %>
      <div class="token-container">
        <div class="token-text">
          <h2>No Tokens Yet :(( </h2>
        </div>
        <div class="token-claim"><a href="/new">Create</a></div>
      </div>
      <% } %>
      <% for(token of generatedTokens){ %>
      <div class="token-container">
        <div class="token-text">
          <h2><%= token.name %> by <%= userName %></h2>
          <p><span>From : </span> <%= token.from %></p>
          <p><span>To : </span> <%= token.to %></p>
          <h2>Status : <%= token.isAccepted ? "Accepted" : "Not Accepted Yet" %></h2>
        </div>
        <% if(token.isAccepted) { %>
        <div class="token-claim"><a href="/">Connect</a></div>
        <% } %>
        <div class="token-claim"><a href="/delete:<%= token._id %>">Delete</a></div>
      </div>
      <% } %> <% for(token of acceptedTokens){ %>
      <div class="token-container">
        <div class="token-text">
          <h2><%= token.name %> by <%= token.creator.name %></h2>
          <p><span>From : </span> <%= token.from %></p>
          <p><span>To : </span> <%= token.to %></p>
          <h2>Status : Accepted By You </h2>
        </h2>
        <div class="token-claim"><a href="/">Connect</a></div>
      </div>
      <% } %>
    </section>
  </body>
</html>
